

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

}

nav ul li {
  font-size: 1.5em;
  letter-spacing: .2em;
}

nav ul li a {
	display: block;
	padding-bottom: .3em;
	padding-left: .5em;
	padding-right: .5em;
	margin: 1em;
	color: black;
	text-decoration: none;
	text-align: center;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: 'Source Serif 4', serif;
	font-weight: 700;
	transition: transform .2s;

}

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
	color: #fff;
	border-bottom: 1px solid;
	transform: scale(1.02);
}

body{
	background-color: rgb(195, 186, 178);
}

.col{
	width: calc(25% - 2rem);
	margin: 3.5rem;
  }

#welcomebox {
	display: block;
	width: 700px;
	height: 175px;
	padding: 20px;
	margin: 4vh auto;
}

#welcomebox p {
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	cursor: grab;
}

.technologies p {
	font-size: 30px;
}

.logos {
	display: flex;
	justify-content: space-around;
}

.pb-2 {
	display: flex;
	justify-content: space-between;
}

#contacts {
	display: flex;
	justify-content: space-between;
}

.github p,
.email p {
	font-weight: 550;
}

.github {
	display: flex;
	justify-content: center;
}

.github a :hover,
.linkedin a :hover {
	cursor: crosshair;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

.email {
	display: flex;
	justify-content: center;
}

.email :hover {
	cursor: crosshair;
	color: green;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
